syntax: glob
*.suo
*.csproj.user
*.contentproj.user
*.Debug.cachefile
*.Release.cachefile
*.db
*.cachefile

.vs/
Raccoon/obj
Raccoon/bin
Raccoon/data
Test/obj
Test/bin
Test/Content/bin
Test/Content/obj

TODO.md
_UpgradeReport_Files
